/* additional styles for the Bootstrap lab */
/* note that we do not need to import reset.css here because Bootstrap already resets
the browser default styles before applying their own */

@import url(reset.css);
/*title font-family:*/
@import url(http://fonts.googleapis.com/css?family=Mrs+Sheppards);
@import url(http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);
/*body font-family:*/
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);


body {
	background-image: url(../img/pizza1.jpg);
	background-repeat: repeat;
	font-family: 'Walter Turncoat', sans-serif;
	font-size: 18px;
	padding: 10px;
}


.content-box1 {
	width: 90%;
	background-image: url(../img/ricepaper_v3.png);
	margin: 30px;
	margin-bottom: 0px;
	box-shadow: 5px 5px 60px #A6559F;
}

.logo {
	float: left;
	margin-right: 10px;
	width: 600px;
}

.title {
	font-family: 'Mrs Sheppards', sans-serif;
	color: #14020D;
	font-size: 80px;
	margin-bottom: 10px;
}


.des {
	font-family: 'Averia Gruesa Libre', sans-serif;
	color: #14020D;
	font-size: 20px;
}

nav {
	width: 80%;
	border-radius: 5px;
}
nav li {
	
	font-size: 30px;

}
nav a {
	
	padding: 5px;
	color: #14020D;
	text-decoration: none;
}




.pic {
       
        width: 1019px;
        height: 800px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 1em;
}

/*@media screen and (max-width: 767px) {
        .carousel {
                display: none;
        }
}
*/